.json_editor{
    min-height: 95vh;
}
.editor_form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editor_form textarea{
    height: 80vh;
    min-width: 95%;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(48, 50, 53);
    color: white;
    font-size: 1rem;
}


.button_div{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.button_div .github_link{
    border: 1px solid #171515 ;
    color: #171515 ;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0px 5px;
}
.button_div .linkedin_link{
    border: 1px solid #006caa ;
    color: #006caa ;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0px 5px;
}
.button{
    background-color: #0085d2;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.button:hover{
    background-color: #006dac;
   cursor: pointer;
}

